.fondo/*Header*/ {
  background-color: rgb(54, 124, 54);
  padding: 0;
  width: 100%;
  height: 100px;
  display:flex;
  text-align: center;
  justify-content:space-evenly;
  box-sizing: border-box;
  position: relative; /* Contenedor para elementos posicionados */
}

body {
  background-color: rgb(219, 237, 216);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#titulo /*Mi Jardin*/{
  flex: 1;
  font-size: 50px;
  text-align:center;
  order:2;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: "Phudu", serif;
  font-optical-sizing: auto;
}

h1, h2 {
  font-style: normal;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  color: rgb(4, 19, 4);
  margin: 0;
}

button {
  background: linear-gradient(
    90deg,
    rgb(141, 177, 141) 25%,
    rgb(54, 124, 54) 73%
  );
  width: 95%;
  height: 600px;
  margin: 2% 0 0 2%;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 0; /*los elementos no crecen*/
  flex-shrink: 1; /*los elementos pueden reducir su tamano a un tamano mas pequeno que su flex-basis*/
  flex-basis: auto; /*los elementos tienen un tamano base automatico*/
  border-radius: 8%;
  border: none;
  cursor: pointer;
  transition: background-color 1.5s ease, opacity 2s ease; /* agrega opacidad a la transicion*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /*siempre tiene que tener 3 lados*/
  position: relative; /*Para posicionar el texto correctamente */
}

button:hover {
  opacity: 0.5;
}

/*Barra de busqueda*/
.search{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  order: 1;
  margin-left: 2em;
}

/*Menú*/
.bg-body-tertiary{
  background-color: rgb(54, 124, 54) !important;
  flex: 1;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  order: 3;
  padding:0;
}

.offcanvas-header{
  background-color: rgb(54, 124, 54);
}

.offcanvas-body{
  background-color: rgb(219, 237, 216);
}

.navbar-toggler, .btn-close {
  width: 20%;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin:0;
}

.navbar-toggler-icon{
  align-items: center;
}

.btn-close {
    background: linear-gradient(
    90deg,
    rgb(141, 177, 141) 25%,
    rgb(54, 124, 54) 73%
  );
  align-items: center;
}

.navbar-brand{
  text-align: center;
  margin:0;
}

.container-fluid{
  background-color: rgb(54, 124, 54);
  margin:0;
  padding-right: 0 !important;
  justify-content: flex-end;
}

span {
  position: relative;
  z-index: 2;
}

#misplantas button:hover /*boton que al pasar el raton muestra la imagen*/ {
  background-image: url(plantitas.png);
  background-size: cover; /*para que la imagen cubra todo el boton por dentro*/
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center 80%; /*centra la imagen dentro del boton*/
  border: solid 1px rgb(54, 124, 54);
}

#misterrarios button:hover {
  background-image: url(terrarios.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center 80%;
  border: solid 1px rgb(54, 124, 54);
}

#miscuidados button:hover {
  background-image: url(cuidados.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center 80%;
  border: solid 1px rgb(54, 124, 54);
}

/*posesion de plantas y terrarios*/
#posesion { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

/*Cuadros del apartado cuidados*/
#riego, #fertilizacion, #tierra, .texto-cuidados{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  margin:10%; 
}

/*Letras recuadros*/
button, .navbar {
  color: inherit; /* Hereda el color del texto del boton */
  text-decoration: none; /*se aplica a enlaces*/
}

.btn-guardar {  
  width: 20%;
  height: 50px;
  border-radius: 20px;
  border: none;
}

.btn-buscador{
  width: 20%;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin: 4px;
}

#buscador{
  margin:0;
  padding: 15px;
  border-radius: 20px;
}

.inicio {
  font-family: "Phudu", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-size: large;
  text-align:right;
  margin: 10%;
  padding: 10%;
}

/*Tablas*/
#miTabla{
max-width: 10%;
border: none;

}

thead {
  background-color: rgb(54, 124, 54);
}
  
table,th,td {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 5px;
  text-align: center;
}

td {
  text-align: center;
  margin: 20px;
  padding: 5px;
}

#miTabla tr.marcada {
    background-color: rgba(164, 89, 89, 0.2);
    outline: 2px solid rgb(183, 73, 73);
    border-radius: 10px;
}

#filas, #borrar-filas {
  background-color: rgb(123, 200, 123);
  color: black;
  text-align: center;
  max-width: 30px;
  height: 30px;
  margin: 0.5%;
  padding: 10px;
  box-sizing: border-box;
}

/*Cuidado vencido*/
.vencido {
    background-color: rgba(164, 89, 89, 0.2);
    color: rgb(150, 30, 30);
    font-weight: bold;
}

.mi-menu-inicio li:hover a {
  visibility: visible;
  opacity: 1;
  text-decoration: none;
  background-color: rgb(123, 200, 123);
  border-radius: 10px;
}

input[type="text"] {
  border-radius: 10px;
  padding: 2%;
  margin-right: 15%;
  background-color:rgb(219, 237, 216);
  border-color: transparent;
  text-align: center;
}
  
input[type="date"] {
  border-radius: 10px;
  padding: 2%;
  margin-right: 15%;
  background-color: rgb(219, 237, 216);
  border-color: transparent;
  text-align: center;
}
  
input[type="file"] {
  padding: 1%;
  margin: 3%;
}

footer {
  background-color: rgb(54, 124, 54);
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items:end;
}